/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Fix Clearing Bugs */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

main {
background-image: url("https://github.com/AndreasH3256/ifsc-34203/blob/main/flexible-grid/assets/img/grid.png?raw=true");
width: 960px;
margin: 20px auto;
border: 1px solid #000;  
}

header.primary, footer.primary{
/*  width:900px; */
width: 900px;
background: rgba(0, 0, 0, 0.4);
margin: 20px;
padding: 20px;
float: left;
 
}

#blog{
/*   width:638px; */
  background: rgba(0, 0, 0, 0.6);


}

aside {
  background: rgba(0, 0, 0, 0.3);
 
}